doctype html
html
  head
    script(src="script.js")
    meta(charset="utf-8")
    link(rel="shortcut icon", type="image/png", href="assets/favicon-16x16.png")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title Home
    link(rel="stylesheet" href="style.css")
    script.
      async function onSend() {
        let inputId = document.getElementsByName('data-id')[0].value;
        let data = await getData(inputId);
      }
  body
    div
      h1.banner HTTP-Cache
      div
        p A demo project WIP
      div 
        span.label GET api/data/
        input(type='text' name='data-id' placeholder='Enter value')
        button(type=button onclick='onSend()') Send
